<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<header>
    {{!-- MENU --}}
    <nav class="navbar bg-dark navbar-dark" >
       <div class="container-fluid">
       <a class="navbar-brand" href="#">
                    <img src="https://via.placeholder.com/50" alt="Logo" class="d-inline-block align-text-top">
                </a>
                <!-- texto -->
                <div class="text-center bg-transparent text-bg-dark">
                    <ul>
                      <li class="list-group-item">Panaderia y Pasteleria</li>
                      <li class="list-group-item">YURI</li>
                    </ul>
                  </div>
       
        <ul class="nav justify-content-end" >
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <!--li class="nav-item"><a class="nav-link" href="/register">Register</a></li-->
        </ul>
    </div>    
    </nav>
    </header>
<body>
    <div class="row justify-content-center align-items-center">
    <div class="container mt-4 col-auto">
      <form action="/clientes/actualiza/{{clientes.id_cliente}}" method="post">
      <div class="card">
      <div class="card-header"><h3>Edición de Cliente</h3></div>
      <div class="card-body">
            <div class="mb-3">
                <label for="cliente_nombre" class="form-label">Nombre</label>
                <input type="text" id="cliente_nombre" name="cliente_nombre" value={{clientes.nombre}} class="form-control" placeholder="Ingrese el Nombre" required>
                <label for="cliente_apellido" class="form-label">Apellido</label>
                <input type="text" id="cliente_apellido" name="cliente_apellido" value={{clientes.apellido}} class="form-control" placeholder="Ingrese el Apellido" required>
                <label for="cliente_direccion" class="form-label">Dirección</label>
                <input type="text" id="cliente_direccion" name="cliente_direccion" value={{clientes.direccion}} class="form-control" placeholder="Ingrese la Dirección" required>
                <label for="cliente_correo" class="form-label">Correo</label>
                <input type="text" id="cliente_correo" name="cliente_correo" value={{clientes.correo}} class="form-control" placeholder="Ingrese el Correo" required>
                <label for="cliente_telefono" class="form-label">Teléfono</label>
                <input type="text" id="cliente_telefono" name="cliente_telefono" value={{clientes.telefono}} class="form-control" placeholder="Ingrese el Teléfono" required>
            </div>
          <div class="card-footer">
              <input type="submit" value="Guardar" class="btn btn-success">
              <a href="/clientes"  class="btn btn-dark">Regresar</a>
          </div>
      </div>
      </div>    
      </form>
        {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
    </div>
    </div>
</body>
</html>